layout {
    pane_template name="statusbar" borderless=true {
      plugin location="file:/home/arijit/.config/zellij/plugins/zjstatus.wasm" {
        format_left   "{mode}#[fg=green]#[bg=green,fg=#ffffff,bold] {session} #[fg=green]"
        format_center "{tabs}"
        format_right  "{command_git_branch} {datetime}"
        format_space  ""

        border_enabled  "false"
        border_char     "─"
        border_format   "#[fg=#6C7086]{char}"
        border_position "top"

        hide_frame_for_single_pane "true"

        mode_normal        "#[bg=blue,fg=#ffffff] {name} #[fg=blue]"
        mode_locked        "#[bg=red,fg=#ffffff] {name} #[fg=red]"
        mode_resize        "#[bg=cyan,fg=#ffffff] {name} #[fg=cyan]"
        mode_default_to_mode "resize"

        tab_normal   "#[fg=magenta] {name} "
        tab_active   "#[fg=blue]#[fg=#ffffff,bg=blue,bold,italic]{name}#[fg=blue]"

        command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
        command_git_branch_format      "#[fg=blue] {stdout} "
        command_git_branch_interval    "10"
        command_git_branch_rendermode  "static"

        datetime        "#[fg=magenta,bold] {format} "
        datetime_format "%A, %d %b %Y %H:%M"
        datetime_timezone "Asia/Kolkata"
      }
    }

    new_tab_template {
      pane borderless=true
      statusbar size=1
    }

    tab name="nvim" {
      pane {
        borderless true
        command "nvim"
      }
      statusbar size=1
    }

    tab name="terminal" focus=true {
      pane
      statusbar size=1
    }

    tab name="lazygit" {
      pane {
        borderless true
        command "lazygit"
      }
      statusbar size=1
    }
}

