#entry:selected {
  background-color: #365bb6;
  font-weight: bold;
  color: #ffffff;
}

#entry {
  color: #cdd6f4;
  padding: 5px;
}

#outer-box {
  /* background: #1e1e2eff; */
  border: 5px solid #313244;
  background: rgba(0, 0, 0, 0);
  border: none;
}

#window {
  background-color: rgba(0, 6, 54, 0.7);
}

#input {
  font-weight: bold;
  color: white;
  border: none;
  background-color: rgba(0, 6, 54, 0.7);
  border-bottom: 2px solid #585b70;
  padding-top: 10px;
  padding-bottom: 10px;
}

#input:focus {
  border: 2px solid rgba(54, 91, 182, 0.5);
  outline: none;
}
